.digital-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* Removemos a classe .stars pois o efeito agora é gerado pelo tsparticles */

.grid {
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: 
    linear-gradient(to right, rgba(77, 181, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(77, 181, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  left: -50%;
  top: -50%;
  animation: grid-move 60s linear infinite;
  opacity: 0.2;
  pointer-events: none; /* Adicionado para que a grade não interfira com interações */
}

/* Removemos a animação @keyframes stars pois o efeito agora é gerado pelo tsparticles */

@keyframes grid-move {
  0% { transform: translateY(0) rotate(0deg); }
  100% { transform: translateY(-100px) rotate(5deg); }
}